<header>
<h1>
  Bem vindo a Meca, <%= current_user.email %>!
</h1>
<h2>
  Estamos utilizando Rails <%= Rails.version %>
</h2>
</header>
<section>
<p>
  Vamos instalar a aplicacao aqui!
</p>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>
</section>